.logospecial {
  color: var(--active-link-color);
}

.logo {
  color: #000;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
  padding: 24px 93px 25px 0;
  font-family: raleway;
  font-weight: 700;
}

.logofooter {
  color: var(--white-color);
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
  margin: 0 20px 0 0;
  font-family: 'raleway', sans-serif;
  font-weight: 700;
}
